body {
    text-align: center;
    background: #a2d2ff;
    font-family: 'Happy Monkey', cursive;
}

#birthday-img {
    border: 8px solid #efb0c9;
    border-radius: 50%;
    width: 200px;
}

h1,
h2,
h4 {
    color: #ffffff;
}