body {
    text-align: center;
    background: #a2d2ff;
    color: #ffffff;
    font-family: 'Happy Monkey', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0 0 1px black;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#birthday-img {
    border: 6px solid #efb0c9;
    border-radius: 50%;
    width: 200px;
}

#bday-age {
    margin: 10px 0;
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
}

#bday-date {
    margin: 0;
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
}

.gift-section {
   margin: 40px 0 0 0;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    border: 6px solid white;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
}